.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr
}

.img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items:center;
    width: 90%;
    margin-left: 5%;
    grid-gap: 6px 6px
}
input[type=submit] {
    height: 40px;
    width: 120px;
    background-color: firebrick;
    color: white;
    border:1px solid black;
    margin-left:40%;
    margin-top:1rem;
    box-shadow: -5px 5px 15px 5px grey;
}
.long {
    grid-column:auto/span 2;
    height:5rem;
}
::deep textarea {
    width:80%;
    height:100%;
    margin-left:10%;
}
.img-grid span {
    margin-right:auto;
    margin-left:auto;
    bottom:0;
}
