.head-menu {
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    height:8vh;
    min-height:32px;
    font-size: 75%;    
    max-width:100vw;
    overflow-x:scroll;
}
.head-menu > * {
    max-height:34px;
}
.label-image {
    left:0;
    margin-right:1px;
}
select {
    background-color: white;
}

option {
    color: white;
}
.opts option {
    color:black;
}
input[type=text]{
    max-width:120px
}
@media (max-width: 640.98px){
    span{
        display: none;
    }
}