
<div class="image-grid">
    @if (ImageList.Images != null)
    {
        @foreach (var image in ImageList.Images)
        {
            <div style="border:1px solid black">
                <img src="@image.ImageBytes.ToImageUrl()" width="200" height="200" />
                <button class="select" @onclick="@(() => SelectImage(image))">Select</button>
            </div>
        }
    }

</div>
@code {

}
