@page "/"

@if (start)
{
    <div class="whiteboard-container">
        <WhiteBoard Name="@name" DataUrl="@imageDataUrl" IsStartNew="HandleNewWhiteboard" />
    </div>
}
else
{
<div class="home-grid">
    <div>
        <h6>Create new whiteboard</h6>
        <input @bind-value="name" @bind-value:event="oninput" />
        <button @onclick="StartWhiteboard">Start</button>
        <hr />
        <p>Or upload a previous whiteboard</p>
        <InputFile OnChange="OnInputFileChange" />
        @if (!string.IsNullOrWhiteSpace(imageDataUrl))
        {
            <img id="image" width="300" height="150" src="@imageDataUrl" alt="Your whiteboard image" />
        }
        <button @onclick="RecoverLast">Recover last</button>
    </div>
    <div>
        <AuthorizeView>
            <Authorized>
                <div style="margin-right: 1rem">
                    Hello, @context.User.Identity.Name!
                    <a href="/.auth/logout?post_logout_redirect_uri=/" style="color: blue"> Log out</a>
                </div>                
                <div class="app-icon">
                    <NavLink href="whiteBoardHome">
                        <img width="64" height="64" src="icons/app-icon-128.png" />
                        <span>Advanced Whiteboard</span>
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div style="margin-right: 1rem">
                    <LoginProvider/>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

}

